<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            @*Logo = a*@
            <a class="navbar-brand" asp-area="ViewContent" asp-controller="ViewContent" asp-action="index">Home</a>

            @* Makes it so that ones you press "DogApp" you go back there (should probably be home) *@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="ViewContent" asp-action="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="ViewContent" asp-action="contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="ViewContent" asp-action="projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Doctor" asp-action="SetSession">Geussing game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Doctor" asp-action="GetSession">Geussing game</a>
                    </li>
@*                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Doctor" asp-action="FeverCheck">Fever Check</a>
                    </li>*@
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>

    <div class="container-fluid">
        @RenderBody()
    </div>
    </nav>
    <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white bprder-top border-bottom box-shadow mb-3">
    </div>
</body>

<footer>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <p class="container-fluid">
                    Current Year: @DateTime.Now.Year, Month: @DateTime.Now.Month, Day: @DateTime.Now.Day : Simon Eliasson
                </p>
            </div>
        </div>
    </div>

</footer>
</html>


@*- Aheaderelement, containingapagelogoandanavigationmenu
  - Acontainertobefilledwitheachview.
  - Afooter,containingthecurrentdateusingRazor,andyourname.*@